@charset "utf-8";

@font-face {
font-family: 'Pretendard';
src: url('../font/Pretendard/Pretendard-Regular.woff2') format('woff2');
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Pretendard-bold';
src: url('../font/Pretendard/Pretendard-Bold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
font-display: swap;
}
/*노말라이즈*/
body {
font-family: 'Pretendard','Pretendard-bold', sans-serif;
font-weight: 700;
 margin: 0 auto;
}
*{
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
color: inherit;
}
.bg-red{
  background-color: red;
}
.bg-blue{
background-color: blue;
}
.bg-green{
  background-color: green;
}
.flex{
  display: flex;
}
/*구현 시작*/
header{
  height: 100px;
  border-bottom: 1px solid #ddd;
}
.top-bar{
  max-width:1200px;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}
.logo-box{
  display: flex;
  width:200px;
  align-items: center;
}
.logo-box > img{
  width: 100%;
}
/*메뉴박스*/
.menu-box{
  flex-grow: 1;
  height: 100%;
}
.menu-box > ul{
  height: 100%;
   justify-content: center;
}
.menu-box > ul >li{
  font-size: 1.7rem;
  font-weight: bold;
  width:160px;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu-box > ul >li>a{
  display: flex;
  width: 160px;
  justify-content: center;
}
/*하단 메뉴*/
.content-wrap{
  position: absolute;
  top:100px;
  left:0;
  width:100%;
  height: 0px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
}
.content-wrap > ul{
  height: 100%;
  align-items: center;
  justify-content: center;
}
.content-wrap > ul > li{
  margin:0 5px;
  width:185px;
  text-align: center;
}
.content-wrap > ul > li >a{
  font-size: 1.6rem;
  color:#fff;
  font-weight: 200;
}
.content-wrap > ul > li:hover >a{
  font-weight: 400;
}
.menu-box>ul>li:nth-child(1):hover> .men-content-wrap,
.menu-box>ul>li:nth-child(2):hover> .women-content-wrap{
  height: 80px;
}
/*유틸 박스*/
.util-box{
  width:150px;
  height: 100%;
}
.util-box > ul{
  height: 100%;
  align-items: center;
}
.util {
width:40px;
height: 40px;
margin: 0 10px;
padding:5px;
cursor: pointer;
}
.util >a {
width: 30px;
height: 30px;
}
.util img{
width: 30px;
height: 30px;
}
/*검색 click*/
.search-box{
  display: none;
}
.search-box.active{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #fff;
  border:1px solid #ddd;
  z-index: 10;
  display: block;
}
.search-bar-wrap{
  width:800px;
  height: 60px;
  margin: 20px auto;
  display: flex;
    align-items: center;
}
.search-bar{
  width:100%;
  height: 60px;
  border:3px solid black;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
#search{
  width:660px;
  margin:20px;
  padding:10px;
  font-size: 1.3rem;
  border:none;
  outline: none;
}
.search-btn {
  width:30px;
  height: 30px;
  cursor: pointer;
}
.search-btn >img{
width: 30px;
  height: 30px;
}
.clear-btn{
  width: 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.clear-btn>img{
  width: 20px;
  height: 20px;
}
/*마이페이지 hover*/
.util-mypage{
  position: relative;
}
.mypage-menu{
  display: none;
  background-color: #fff;
  box-shadow: 2px 2px 2px #c1c1c1;
  border-radius: 10px;
  border:1px solid #ddd;
  position: absolute;
  width:200px;
  top:40px;
  transform: translateX(-44%);
  transition: display 4s;
}
.mypage-menu > li{
  display: flex;
  justify-content: center;
  padding:5px;
}
.mypage-menu > li > a{
  font-size: 1.2rem;
}
.mypage-menu > li:hover > a{
  color:#717171
}
.util-mypage:hover >.mypage-menu{
  display: block;
}

